@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body_background: white;
  --body_color: rgb(32, 31, 31);
  --body_scroll: #666;
  --body_second_theme: #fb9385;
}

[theme="dark"] {
  --body_background: rgb(32, 31, 31);
  --body_color: rgb(236, 236, 236);
  --body_scroll: #363636;
  --body_second_theme: #a1574e;
}
body {
  background-color: var(--body_background);
  color: var(--body_color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
